---
title: Bastian Teeuwen Tattoo - Groningen
---
<section class="bg-blend-soft-light bg-black px-6 text-center bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center" style="background-image: url()">
  <div class="text-center text-white">
    <!-- Logo ? -->
    <h1 class="text-2xl text-center">Bastian Teeuwen Tattoo</h1>
    <h2 class="text-xl">Tagline</h2>
  </div>
</section>

<section class="h-screen bg-white flex flex-col justify-center items-center">
  <div>
    <h2 class="text-black text-xl font-medium mb-3">Welcome to the brand new tattoo shop of Bastian Teeuwen, located in the heart of Groningen!</h2>
    <p class="text-black mb-3">After years of experience at a renowned tattoo parlor, Bastian has taken the leap to establish his own tattoo shop. With great pride, he invites you to his artistic space, where passion and craftsmanship merge seamlessly. Personal attention is his hallmark, and he is determined to make your tattoo experience truly unforgettable. Whether you desire a unique creation or wish to customize an existing design to your liking, Bastian is ready to assist with his expertise and artistic vision.</p>
    <p class="text-black font-medium">
      Come and explore the enchanting world of tattoo art, where ideas come to life!
    </p>
  </div>
</section>

<section class="h-screen bg-black flex flex-col justify-center items-center">
  <h2 class="text-white text-xl">Photo Gallery</h2>
</section>

<section class="h-screen bg-white flex flex-col justify-center items-center">
  <h2 class="text-black text-xl">Contact Form</h2>
</section>
