<section class="px-6 min-h-screen flex flex-col justify-center items-center bg-blend-soft-light bg-neutral-700 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_url "assets/images/bastian-teeuwen-tattoo-01.jpg" %>)">
  <div class="text-center text-white">
    <h1 class="text-3xl xl:text-4xl text-center font-bold mb-3">Bastian Teeuwen Tattoo</h1>
  </div>
</section>
