---
title: "Thank you"
robots: noindex,nofollow
noindex: true
---

<section class="px-6 h-screen flex flex-col justify-center items-center bg-blend-soft-light bg-neutral-700 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_url "assets/images/bastian-teeuwen-tattoo-01.jpg" %>)">
  <div class="text-center text-white">
    <!-- Logo ? -->
    <h1 class="text-3xl xl:text-4xl text-center font-bold">Thanks!</h1>
    <h2 class="text-xl mb-3">Thank you for submitting our contact form.<br>We'll get back at you ASAP!</h2>
    <h2 class="text-xl text-center"><%= link_to("Back home", "/", class: "underline hover:no-underline") %></h2>
  </div>
</section>